<template>
    <GridLayout columns="50, *" rows="*" class="item" backgroundColor="white">
        <Button :text="getCover() | fonticon" col="0" :class="'fa small ' + day.gen" v-if="isIcon()"/>
        <Button :text="getCover()" col="0" :class="'small ' + day.gen" v-else />
        <StackLayout col="1" class="listitem">
            <Label :text="title" class="list-title" textWrap="true" textAlignment="center" />
            <Label :text="description" class="list-desc" textWrap="true" />
        </StackLayout>
    </GridLayout>
</template>

<script>
import specialNumbers from "@/services/specialNumbers"
import moment from "moment"

export default {
    data() {
        return {};
    },
    props: ["day"],
    computed: {
        dispValue() {
            return this.day.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        explain() {
            if (typeof specialNumbers[this.day.gen].explain === 'function') {
                return "(" + specialNumbers[this.day.gen].explain(this.day.res) + ")"
            } else {
                return ""
            }
        },
        title() {
            return this.dispValue + ' ' + this.day.type + ' ' + this.day.date.fromNow()
        },
        description() {
            return 'You will be '+ this.dispValue + ' ' + this.day.type + (this.explain !== "" ? ' ' + this.explain : "") + ' on ' + this.day.date.format('LL')
        }
    },
    methods: {
        howLongInTime() {
            let nb = moment().diff(this.day.date, "days")
            if (nb < 7) return this.day.date.calendar()
            return "on " + this.day.date.format("LL")
        },
        
        getCover() {
            if (specialNumbers[this.day.gen].cover) return specialNumbers[this.day.gen].cover
            else return this.day.gen.substr(0, 1).toUpperCase()
        },
        isIcon() {
            return specialNumbers[this.day.gen].cover && specialNumbers[this.day.gen].cover.indexOf("fa-") === 0
        },
    }
}
</script>

<style>

</style>
