<template>
    <RadListView 
        ref="listview" 
        for="d in filtered"
        swipeActions="true" @itemSwipeProgressStarted="onSwipeStarted" @itemSwipeProgressChanged="onSwipeChanged"
        @itemTap="onItemTap"
        >
		<v-template>
            <DayItem :day="d" />
        </v-template>
        <v-template name="itemswipe">
            <GridLayout columns="*, auto">
                <!--<Ripple color="white" id="save-view" col="0" class="swipe-item left"
                            orientation="horizontal" @tap="saveForLater">-->
                <!--<Label class="fa action" :text="'fa-save' | fonticon" col="1" verticalAlignment="center" horizontalAlignment="center"/>-->
                <!--</Ripple>-->
            </GridLayout>
        </v-template>
    </RadListView>
</template>

<script>
import DayItem from "./DayItem"
import daysService from "@/services/DaysService"

export default {
    data() {
        return {
            swiped: false
        };
    },
    props: ["days"],
    components: {DayItem},
    computed: {
        filtered() {
            return this.days.filter(day => day !== undefined);
        }
    },
    methods: {
        onSwipeStarted(args) {
            const swipeLimits = args.data.swipeLimits;
            const swipeView = args.object;
            swipeLimits.left = 0
            swipeLimits.right = swipeView.getMeasuredWidth();
            swipeLimits.threshold = swipeView.getMeasuredWidth() / 3;
        },
        onSwipeChanged({data, object, index}) {
            const swipeView = object;
            if (swipeView && data.x <= -swipeView.getMeasuredWidth() * 0.8 && !this.swiped) {
                this.swiped = true
                let self = this
                setTimeout(() => {
                    daysService.setOption(self.days[index].gen, false)
                    self.swiped = false
                }, 100)
                return true
            }
            return false
        },
        onItemTap() {

        }
    },
    name: "DaysList"
};
</script>

<style>

</style>
