<template>
	<Page class="page" actionBarHidden="true">
        <RadSideDrawer ref="drawer">
            <StackLayout ~drawerContent class="sideStackLayout" backgroundColor="black">
                <StackLayout class="sideStackLayout" >
                    <Ripple color="#777777">
                        <!-- Do not reformat code -> alignment bug if multiline textnode in button -->
                        <Button @tap="goToSettings" class="fa-solid button">{{ 'fa-calendar-alt' | fonticon }} Set birthday</Button>
                    </Ripple>
                    <StackLayout class="m-10">
                        <SpecialSet v-for="opt in opts" :key="opt.name" :name="opt.name" :checked="opt.checked"/>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
            <StackLayout ~mainContent>
                <GridLayout columns="50, *" rows="50" v-if="!firsttime">
                    <Ripple color="white" @tap="toggleDrawer" col="0" verticalAlignment="center" horizontalAlignment="center" textAlignment="center">
                        <Label :text="'fa-bars' | fonticon" class="fa-solid action"   />
                    </Ripple>
                    <Label :text="'You were born on ' + curBDay" col="1"  v-if="display!=='settings'" verticalAlignment="center" />
                </GridLayout>
                <GridLayout>
                    <ScrollView v-if="display==='settings'">
                        <StackLayout class="home-panel" textAlignment="center" verticalAlignment="center">
                            <!--Add your page content here-->
                            <Label textWrap="true" text="Enter your birthday and find out your geek days !" class="h2" textAlignment="center"/>
                            <DatePicker v-model="selectedDate" @dateChange="setBirthday" />
                            <Button :text="'fa-search' | fonticon" class="fa-solid round" @tap="goToList()" />
                        </StackLayout>
                    </ScrollView>
                    <StackLayout v-if="display==='nextList'">
                        <DaysList :days="nextList" />
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </RadSideDrawer>
    </Page>
</template>

<script>
import specialNumbers from "@/services/specialNumbers";
import daysService from "@/services/DaysService";
import DaysList from "@/components/DaysList";
import SpecialSet from "@/components/SpecialSet";
import * as appSettings from "tns-core-modules/application-settings";
import moment from "moment"

export default {
  data() {
    return {
      selectedDate: daysService.birthday.toDate(),
      firsttime: daysService.firsttime,
      display: daysService.firsttime ? "settings" : "nextList",
      nlist: daysService.nextDaysList,
      opts: daysService.options
    };
  },
  computed: {
    nextList() {
      return this.nlist.filter(day => {
        let opt = this.opts.find(opt => opt.name === day.gen);
        if (opt !== undefined) return opt.checked;
        return true;
      });
    },
    specList() {
      return Object.keys(specialNumbers);
    },
    curBDay() {
      return moment(this.selectedDate).format("LL");
    }
  },
  methods: {
    goToList() {
      this.display = "nextList";
    },
    setBirthday() {
      daysService.setBirthday(this.selectedDate);
    },
    goToSettings() {
      this.display = "settings";
      this.onCloseDrawerTap();
    },
    toggleDrawer() {
      if (this.$refs.drawer.nativeView.getIsOpen()) {
        this.$refs.drawer.nativeView.closeDrawer();
      } else {
        this.$refs.drawer.nativeView.showDrawer();
      }
    },
    onCloseDrawerTap() {
      if (this.$refs.drawer.nativeView.getIsOpen()) {
        this.$refs.drawer.nativeView.closeDrawer();
      }
    }
  },
  components: { DaysList, SpecialSet }
};
</script>

<style scoped>
</style>
