<template>
    <GridLayout columns="40, *, 50" rows="auto" class="p-2">
        <Button :text="getCover() | fonticon" col="0" :class="'fa xsmall ' + name" v-if="isIcon()" verticalAlignment="center"/>
        <Button :text="getCover()" col="0" :class="'xsmall ' + name" v-else  verticalAlignment="center"/>
        <Label :text="spec.name" col="1" verticalAlignment="center" textWrap="true"/>
        <Switch v-model="checked" :class="name" col="2" verticalAlignment="center" @checkedChange="updateOptions"/>
    </GridLayout>
</template>

<script>
import specialNumbers from "@/services/specialNumbers"
import daysService from "@/services/DaysService";

export default {
    data() {
        return {}
    },
    props: ["name", "checked"],
    computed: {
        spec() {
            return specialNumbers[this.name]
        }
    },
    methods: {
        getCover() {
            if (this.spec.cover) return this.spec.cover
            else return this.name.substr(0, 1).toUpperCase()
        },
        isIcon() {
            return this.spec.cover && this.spec.cover.indexOf("fa-") === 0
        },
        updateOptions() {
            daysService.setOption(this.name, this.checked)
        }
    }
}
</script>

<style>

</style>
