/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.dark.css';

.fa {
    font-family: "fa-regular-400", "fa-solid-900";
}

.fa-solid {
    font-family: "fa-solid-900";
}

.action {
    font-size:24;
}
.button {
    background-color: #a70000;
    color: white;
    font-size: 16;
    text-transform: none;
    text-align: center;
    margin: 10;
    padding:5;
}
.round {
    background-color: #a70000;
    color: white;
    font-size: 20;
    width: 80;
    height:80;
    border-radius: 40;
    padding: 20;
}
.small, .xsmall {
    color: black;
    font-size: 14;
    width: 35;
    height: 35;
    border-radius: 20;
    padding: 5;
    border:1;
    text-transform: none;
}
.xsmall {
    font-size: 12;
    width: 24;
    height: 24;
    padding: 2;
}
DatePicker {
    margin-top: 40;
    margin-bottom: 40;
    background-color: white;
    opacity: 0.75;
    width: 80%;
    border-radius:5;
}

.page {
    background-image: url("~/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

Page {
    color:white;
}
h2 {
    font-size: 16;
}
.home-panel {
    margin: 15;
}


.list-title {
    font-size: 16
}
.list-desc {
    font-size: 14
}
.item {
    background-color: white;
    margin-top: 5;
    margin-right: 5;
    margin-left:5;
    padding:5;
    opacity: 0.8;
    color: black;
    border-top-left-radius: 45;
    border-bottom-left-radius: 45;
}
RadListView {
    padding-bottom: 5;
}
.primes {
    background-color: #E6EE9C;
}
.twopows {
    background-color: #EF9A9A;
}
.factorial {
    background-color: #80DEEA;
}
.squares {
    background-color: #A5D6A7;
}
.cubes {
    background-color: #C5E1A5;
}
.thousandOfDays {
    background-color: #CE93D8;
}
.kBOfDays {
    background-color: #90CAF9;
}
.tenThousandsOfHours {
    background-color: #80CBC4;
}
.tenMillionsOfSeconds {
    background-color: #FFCC80;
}
.pi {
    background-color: #BCAAA4;
}
.e {
    background-color: #F48FB1;
}
.goldNumber {
    background-color: #B39DDB;
}
.datesInHistory {
    background-color: #9FA8DA;
}
.hexWords {
    background-color: #81D4FA;
}
.hundredOfMonths {
    background-color: #FFF59D;
}
/*
#FFE082
#FFAB91
#EEEEEE
#B0BEC5
*/